.centered-button {
    display: block; /* Asegura que el botón sea tratado como un bloque */
    margin: 20px auto; /* Centra horizontalmente el botón */
    text-align: center; /* Alinea el texto del botón */
  }