<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/images/mycollelogo.png" alt="Logo MyCollection" class="logo" />
      <h1 class="app-title">MyCollection</h1> <!-- Título agregado aquí -->
    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input 
          type="text" 
          name="usuario" 
          [(ngModel)]="usuario" 
          required 
          minlength="3" 
          maxlength="8">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          type="password" 
          name="password" 
          [(ngModel)]="password" 
          required 
          maxlength="4">
        </ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
    </form>
    <div class="register-container">
      <p>¿No tienes una cuenta?</p>
      <ion-button expand="full" fill="outline" (click)="registro()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
