ion-card {
    margin: 10px;
  }
  
  ion-card img {
    border-radius: 4px; 
  }

  .welcome-message {
    text-align: center;
    margin: 20px 0;
  }
  
  .collection-summary-title {
    text-align: center;
    margin: 10px 0; 
    font-weight: bold; 
  }